.fields {
  margin-top: 5%;
}

.grey-line {
  display: inline-block;
  border-top: solid #BDBDBD;
  border-width: thin;
  width: 70px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.container:nth-child(3) .grey-line {
  display: none;
}

.container {
  display: inline-block;
}

/* PROGRESS BAR */
div.progtrckr {
  border: 1px solid green;
  display: inline-block;
  padding: 24px;
  height: 72px;
}

div.progtrckr li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.title {
  display: inline-block;
  margin-left: 8px;
  margin-top: 3px;
}

div.progtrckr li.progtrckr-todo {
  color: #000000;
  opacity: 54%;
}

div.progtrckr li.progtrckr-doing {
  color: black;
  font-weight: 600;
}

div.progtrckr li.progtrckr-done {
  color: black;
  font-weight: 600;
}

div.progtrckr li:before {
  float: left;
}

div.progtrckr li.progtrckr-todo:before {
  content: "";
  background: #BDBDBD;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.container:nth-child(2) li.progtrckr-todo:before {
  content: '2';
  color: #FFFFFF;
  line-height: 1.5em;
}

.container:nth-child(3) li.progtrckr-todo:before {
  content: '3';
  color: #FFFFFF;
  line-height: 1.5em;
}

div.progtrckr li.progtrckr-doing:before {
  content: "";
  color: #FFFFFF;
  background: #00bcd4;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.container:nth-child(1) li.progtrckr-doing:before {
  content: '1';
  color: #FFFFFF;
  line-height: 1.7em;
  font-size: 15px;
}

.container:nth-child(2) li.progtrckr-doing:before {
  content: '2';
  color: #FFFFFF;
  line-height: 1.7em;
  font-size: 15px;
}

.container:nth-child(3) li.progtrckr-doing:before {
  content: '3';
  color: #FFFFFF;
  line-height: 1.7em;
  font-size: 15px;
}

div.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background: #00bcd4;
  line-height: 1.5em;
  border-radius: 1.2em;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
