.test-fields {
  margin-top: 5%;
}

/* PROGRESS BAR */
.step-grey-line {
  display: inline-block;
  border-top: solid #BDBDBD;
  border-width: thin;
  width: 70px;
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 8px;
}

/*hide last grey line*/
.step-container:nth-child(3) .step-grey-line {
  display: none;
}

.step-container {
  display: inline-block;
}

.stepper-container {
  border: 1px solid #EEEEEE;
  display: inline-block;
  padding: 24px;
  height: 72px;
  box-shadow: 0px 2px 2px #E0E0E0;
}

.step-title {
  display: inline-block;
  margin-left: 8px;
  margin-top: 3px;
  font-family: 'Roboto', sans-serif;
}

.stepper-container li:before {
  float: left;
}

.stepper-container li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  float: left;
}

.stepper-container li.stepper-container-todo {
  color: #BDBDBD;
  font-size: 14px;
}

.stepper-container li.stepper-container-doing, li.stepper-container-done {
  color: #000000;
  opacity: 87%;
  font-size: 14px;
  font-weight: 500;
}

/* todo */
.stepper-container li.stepper-container-todo:before {
  content: " ";
  background: #BDBDBD;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #FFFFFF;
  line-height: 1.6em;
}

.step-container:nth-child(2) li.stepper-container-todo:before {
  content: '2';
}

.step-container:nth-child(3) li.stepper-container-todo:before {
  content: '3';
}

/* doing */
.stepper-container li.stepper-container-doing:before {
  content: "";
  color: #FFFFFF;
  background: #00bcd4;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #FFFFFF;
  line-height: 1.5em;
  font-size: 15px;
}

.step-container:nth-child(1) li.stepper-container-doing:before {
  content: '1';
}

.step-container:nth-child(2) li.stepper-container-doing:before {
  content: '2';
}

.step-container:nth-child(3) li.stepper-container-doing:before {
  content: '3';
}

/* done */
.stepper-container li.stepper-container-done:before {
  font-family: 'Material Icons';
  content: '\e876';
  color: #FFFFFF;
  background: #00bcd4;
  line-height: 1.7em;
  border-radius: 1.2em;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
